[Desktop Entry]
Type=Application
Icon=user-trash
Name=Trash
GenericName=Trash
Comment=open trash in PCManFM
Categories=FileManager;Utility;Core;GTK;
Exec=pcmanfm trash:///
StartupNotify=true
Terminal=false
MimeType=x-directory/normal;inode/directory;
